body{
    margin: 0%;
    padding: 0%;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 1000;
    margin-top: 20%;
}
h3{
    font-weight: 600;
}
h2{
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.5;
}
p{
    color: #8f8f8f;
}

/*navigation*/

.container-fluid{
    padding: 3% 15%;
} 
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-size: 2.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
}

/*Title*/

#title{
    background-color: #FFC107;
    height: 110vh;
}
#title-img{
    width: 70%;
    display: block;
    margin: auto;
    -webkit-filter: drop-shadow(5px 5px 10px #222);
    filter: drop-shadow(5px 5px 10px #222);
}
.black-text{
    color: #343A40 !important;
}

.download-btn{
    margin: 5% 3% 5%;
}

/*Features*/

#features{
    padding: 13% 15% 7%;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #FFC107;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#ffde07 ;
}

/*testimonials*/

#testimonials{
    
    text-align: center;
    background-color: #FFC107;
}
.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}

/*press*/


#press{
    background-color: #FFC107;
    text-align: center;
    padding-bottom: 5%;
}
.press-items{
    width: 15%;
    margin: 20px 20px 50px;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .4s ease-in-out; 
}
.press-items:hover{
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

/*pricing*/

#pricing{
    padding: 7% 15%;
}
.price-btn{
    background-color: #FFC107;
    color: #ffffff;
}
.pricing-row{
    padding: 80px 0px;
}

/* Call to Action*/

#cta{
    background-color: #FFC107;
    color: #ffffff;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading{
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1.2;
}

/* Footer*/

#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}



@media (max-width: 1028px){
    #title-img{
        margin-top: 15vh;
    }
    #title{
        text-align: center;
    }
    #title{
        height: 102vh;
    }
    .download-btn{
        margin: 10% 3% 5%;
    }
    #features{
        padding: 20% 15% 7%;
    }
}