body {
    margin: 0%;
    padding: 0%;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
.container-fluid{
    padding: 3% 15%;
}
h1 {
    font-size: 4rem;
    line-height: 1;
}
#title{
    background-color: #FFC107;
}
#title-img{
    width: 400px;
}